body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
}

canvas {
    display: block; /* Remove extra space below canvas */
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    cursor: pointer; /* Indicate it's clickable */
}

#selected-block-ui {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 1em;
} 

@media (pointer: fine) {
  #mobile-actions{ display:none !important; }
  #touch-left, #touch-right{ display:none !important; }
}
